<mjml>
  <mj-head>
    <mj-attributes>
      <mj-class name="white" color="white"></mj-class>
      <mj-all font-family="Times"></mj-all>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-raw>
      <!-- logo Section start -->
    </mj-raw>
    <mj-section>
      <mj-column>
        <mj-image width="80px" src="{{ getAssetUrl('themes/'~template~'/assets/logo.png', null, null, true) }}"></mj-image>
      </mj-column>
    </mj-section>
    <mj-raw>
      <!-- logo Section Ends -->
    </mj-raw>
    <mj-wrapper padding="50px 20px" background-color="#87CEEB">
      <mj-hero background-color="#87CEEB">
        <mj-text font-size="30px" font-weight="bold" align="center" color="darkblue">Don't forget to complete your order!</mj-text>
      </mj-hero>
      <mj-hero background-color="#87CEEB">
        <mj-text align="left" font-size="15px" padding-top="20px" font-family="sans-serif"> Looks like there are still some items left in your cart, but don't worry we have saved them for you. <a href="#">Complete your order now</a>, while your items are still in stock.</mj-text>
      </mj-hero>
      <mj-raw>
        <!-- Product List Starts -->
      </mj-raw>
      <mj-section background-color="white">
        <mj-group>
          <mj-column width="20%">
            <mj-image width="300px" src="{{ getAssetUrl('themes/'~template~'/assets/product-one.jpeg', null, null, true) }}"></mj-image>
          </mj-column>
          <mj-column width="40%">
            <mj-text font-size="20px" color="white"><a href="google.com" target="_blank" style="color: black;"> Bag </a></mj-text>
            <mj-spacer height="5px"></mj-spacer>
            <mj-text mj-class="black">23.5 L Backpack FIND (Black)</mj-text>
          </mj-column>

          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">2 items</mj-text>
          </mj-column>
          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">$50.49</mj-text>
          </mj-column>
        </mj-group>

      </mj-section>

      <mj-section background-color="#c4c4c4">
        <mj-group>
          <mj-column width="20%">
            <mj-image width="300px" src="{{ getAssetUrl('themes/'~template~'/assets/product-two.jpeg', null, null, true) }}"></mj-image>
          </mj-column>
          <mj-column width="40%">
            <mj-text font-size="20px" color="white"><a href="google.com" target="_blank" style="color: black;"> Mobile Phone </a></mj-text>
            <mj-spacer height="5px"></mj-spacer>
            <mj-text mj-class="black">iPhone 13 (Pink, 128 GB
              <br></br>₹61,999₹69,90011% off
            </mj-text>
          </mj-column>

          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">1 items</mj-text>
          </mj-column>
          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">$ 999</mj-text>
          </mj-column>
        </mj-group>

      </mj-section>
      <mj-section background-color="white">
        <mj-group>
          <mj-column width="20%">
            <mj-image width="300px" src="{{ getAssetUrl('themes/'~template~'/assets/product-three.png', null, null, true) }}"></mj-image>
          </mj-column>
          <mj-column width="40%">
            <mj-text font-size="20px" color="white"><a href="google.com" target="_blank" style="color: black;"> Shoes </a></mj-text>
            <mj-spacer height="5px"></mj-spacer>
            <mj-text mj-class="black">5740 Shoes For Men (Multicolor)</mj-text>
          </mj-column>

          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">3 items</mj-text>
          </mj-column>
          <mj-column width="20%">
            <mj-text font-size="20px" mj-class="black">$ 100</mj-text>
          </mj-column>
        </mj-group>

      </mj-section>
      <mj-raw>
        <!-- Product List Ends -->
      </mj-raw>
      <mj-raw>
        <!-- Checkout link starts -->
      </mj-raw>
      <mj-section>
        <mj-column width="100%">
          <mj-button font-size="20px" background-color="darkblue"><a href="google.com" target="_blank" style="color:white;"> Complete your order </a></mj-button>
        </mj-column>
      </mj-section>
      <mj-raw>
        <!-- Checkout link ends -->
      </mj-raw>
    </mj-wrapper>
    <mj-hero>
      <mj-text color="#6d6d6d" font-family="Ubuntu, Helvetica, Arial, sans-serif" line-height="1.5" align="center" padding-bottom="0px" padding-top="0px">
        <p style="font-size:11px">{unsubscribe_text}
        </p>
      </mj-text>
    </mj-hero>
  </mj-body>
</mjml>